<table class="table">
<% if current_user.plants.present? %>
  <tr>
    <td>
      <div class="btn btn-default eye-button disabled">
        <%= image_tag "eye_visible.jpg", width: "25px", height: "25px" %>
      </div>
    </td>
    <td>
      Auf das Auge klicken, wenn diese Aufgabe hier nicht mehr aufgelistet werden soll. Die Sichtbarkeit kann unter der jeweiligen Pflanzenbeschreibung wieder angeschaltet werden.
    </td>
  </tr>
  <tr>
    <td>
      <div class="btn btn-default disabled">
        <%= image_tag "skip.png", width: "25px", height: "25px" %>
      </div>
    </td>
    <td>
      Dieses Mal diese Aufgabe überspringen.
    </td>
  </tr>
  <tr>
    <td>
      <div class="btn btn-default disabled">
        <%= image_tag "schaufel.png", width: "25px", height: "25px" %>
      </div>
    </td>
    <td>
      Diese Aufgabe ist erledigt. Dazu eine Notiz verfassen und speichern.
    </td>
  </tr>
<% else %>
  <tr>
    <td>
      Eigene <%= link_to "Pflanze anlegen", new_plant_path %>
    </td>
  </tr>
  <tr>
    <td>
      Von anderen GartenfreundInnen angelegte <%= link_to "Pflanze suchen", search_index_path %> und kopieren.<br> Kopierte Pflanzentipps können anschließend für den persönlichen Gebrauch bearbeitet werden. Änderungen an kopierten Pflanzen sind privat und für andere Nutzer nicht sichtbar.
    </td>
  </tr>
<% end %>
</table>
