<% if @welcome %>
  <%= render "startpage/welcome" %>
<% end %>

<%= render template: "first_steps/copy_plant" %>

<div class="first-steps-container">
  <%= render template: "first_steps/tasks" %>
</div>

<div class="first-steps-container">
  <%= render template: "first_steps/comments" %>
</div>

<div class="first-steps-container">
  <%= render template: "first_steps/new_plant" %>
</div>
