<h3>Anstehende Aufgaben</h3>
<br />
<% @upcoming_tasks.each do |task| %>
<div class="row">
  <div class="col-xs-2">
    <% if task.plant.main_image.file? %><%= link_to image_tag(task.plant.main_image.url(:thumb)), task.plant %><% end %>
  </div>
  <div class="col-xs-2">
    <%= task.plant.name %>
  </div>
  <div class="col-xs-2">
    <%= task.title %>
  </div>
  <div class="col-xs-3">
    <%= task.desc %>
  </div>
  <div class="col-xs-3">
    <%= link_to 'Nicht mehr auflisten', hide_plant_task_path(task.plant,task), method: :patch, class: "hide-task-link" %>
  </div>
</div>
<br />
<% end %>
