<% if current_user.plants.empty? %>
  <%= render "welcome" %>

<% else %>
  <h2><%= title "Jetzt anstehende Aufgaben" %></h2>

  <% if @upcoming_tasks.empty? %>
    <p>Geniesse Deinen Garten, es gibt nichts zu tun!</p>

  <% else %>
    <table class="table table-responsive">
    <% @upcoming_tasks.each do |task| %>
    <tr>
      <td>
        <% if task.plant.main_image.file? %>
          <%= link_to image_tag(download_main_image_plant_path(task.plant, {size: :thumb}), class: "img-rounded img-responsive"), task.plant %><% end %>
      </td>
      <td>
        <%= link_to task.plant.name, task.plant %>
      </td>
      <td>
        <%= link_to task.title, plant_task_path(task.plant, task) %>
      </td>
      <td>
        <div class="visibility" data-id="<%= task.id %>" data-plant-id="<%= task.plant.id %>" data-path="/plants/">
          <%= image_tag "eye_visible.jpg" %>
        </div>
      </td>
      <td>
        <%= render partial: "done_tasks/modal", locals: { task: task } %>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#taskDoneModal<%= task.id %>">
          erledigt
        </button>
      </td>
      <td>
        <%= link_to "überspringen", plant_task_done_tasks_path({task_id: task.id, plant_id: task.plant.id, done_task: { skipped: true } }), method: :post, class: "btn btn-default", role: "button"  %>
      </td>
     </tr>
    <% end %>

    </table>
  <% end %>
<% end %>
