<%= render partial: "/plants/sidebar" %>
<%= render partial: "/plants/header" %>

<div class="row">
  <div class="col-xs-12 edit-plant-link">
  </div>
</div>

<h3>Kommentare<% if user_signed_in? && @plant.copied_by?(current_user) %> zum Original<% end %></h3>

<% if @comments.empty? %>
  ...noch keine Kommentare.
  <br><br>
<% end %>

  <table class="table">
    <% @comments.each do |comment| %>
      <tr>
        <td>
          <% if comment.user.picture.file? %>
            <%= link_to image_tag(download_picture_user_path(comment.user, {size: :small}), class: "img-rounded img-responsive"), comment.user %>
          <% end %>
        </td>
        <td>
          <%= comment.user.display_name %><br>
          <span class="small-info"><%= display_date_time(comment.created_at) %></span>

        </td>
        <td>
          <%= comment.comment %>
        </td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to 'Löschen', plant_comment_path(@plant, comment), method: :delete %>
          <% end %>
      </tr>
    <% end %>

    <% if user_signed_in? %>
      <%= render partial: "form" %>
    <% end %>
  </table>
