<h2>Suche in veröffentlichten Pflanzen</h2>
<%= render "form" %>

<% unless @inputs.blank? %>
  <h3>Suchergebnis</h3>
  <h5><%= searched_for_text %>: <strong><%= @plants.length %></strong> öffentliche Pflanzen gefunden.</h5>
<% end %>

<% unless @plants.empty? %>
  <br>
  <table class="table">
  <% @plants.each do |plant| %>
    <%= render partial: "/plants/list_entry",
           locals: { plant:          plant,
                     other_user:     nil,
                     only_my_plants: false } %>
  <% end %>
  </table>
  <%= paginate @plants %>
<% end %>
