<% if @task && @task.id
     task = @task
   else
     task = @plant.tasks.build
   end
%>

<% begin_day   = task.begin_date.blank? ? nil : @task.begin_date.day
   begin_month = task.begin_date.blank? ? nil : @task.begin_date.month
   end_day     = task.end_date.blank? ? nil : @task.end_date.day
   end_month   = task.end_date.blank? ? nil : @task.end_date.month
%>

  <input type="hidden" value="false" name="task[hide]">
  <div class="input-group wide-form-input">
    <div class="task-form-title">Aufgabentitel:</div>
    <%= f.text_field :title, class: "form-input wide-form-input", placeholder: "z.B. Düngen" %>
  </div>
  <div class="input-group task-form-space wide-form-input">
    <div class="task-form-title">Beschreibung:</div>
    <%= f.text_area :desc, :class => "form-control wide-form-input", rows: "8" %>
  </div>
        <small>Zur Formatierung kannst Du Markdown verwenden (siehe <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Cheatsheet</a>).</small>

  <div class="input-group">
    <span class="task-form-space task-form-title">Erinnern zwischen</span>
      <%= select_tag( :begin_day,
                      options_for_select(day_options, begin_day),
                      class: "form-input task-form-space" )  %>
      &nbsp;
      <%= select_tag( :begin_month,
                      options_for_select(month_options, begin_month),
                      class: "form-input task-form-space" )  %>
      &nbsp;
    </span>
    <span class="task-form-space task-form-title">&nbsp; und</span>
      <%= select_tag( :end_day,
                      options_for_select(day_options, end_day),
                      class: "form-input" ) %>
      &nbsp;
      <%= select_tag( :end_month,
                      options_for_select(month_options, end_month),
                      class: "form-input" ) %>
    </span>
  </div>
  <div class="input-group task-form-space">
    <span class="task-form-space task-form-title">Wiederholung:</span>
    <%= f.select :repeat,
        select_options_for(task, :repeats), {}, { class: 'form-input' } %>
  </div>
  <div class="pull-right form-space">
      <a href="<%= plant_tasks_path(@plant) %>">Abbrechen</a>&nbsp;
      <%= f.submit "Aufgabe speichern", :class => "btn btn-success" %>
  </div>
