<div class="new-task-form">
  <% if (defined? @task)
       form_param = @task
     else
       form_param = @plant.tasks.build
     end
  %>
  <%= form_for([@plant, form_param]) do |f| %>

    <div class="input-group">
      <span class="input-group-addon">Titel</span>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <br />
    <div class="input-group">
      <span class="input-group-addon">Beschreibung</span>
      <%= f.text_area :desc, :class => "form-control" %>
    </div>
    <br />
    <div class="input-group">
      <span class="input-group-addon">frühestens</span>
      <%= f.select :start,
          options_for_select(@start_options.collect { |w| [w[0].humanize, w[0]] }), class: 'select-box' %>
    </div>
    <br />
    <div class="input-group">
      <span class="input-group-addon">bis spätestens</span>
      <%= f.select :end,
          options_for_select(@end_options.collect { |w| [w[0].humanize, w[0]] }), class: 'select-box' %>
    </div>
    <br />
    <div class="input-group">
      <span class="input-group-addon"><%= f.label :repeat %></span>
      <%= f.select :repeat,
          options_for_select(@repeat_options.collect { |w| [w[0].humanize, w[0]] }), class: 'select-box' %>
    </div>
    <br />
    <div class="input-group">
      <span class="input-group-btn">
        <%= f.submit :class => "btn btn-success" %>
      </span>
    </div>
  <% end %>
</div>

