<% if (defined? @task)
     form_param = @task
   else
     form_param = @plant.tasks.build
   end
%>

<%= form_for([@plant, form_param]) do |f| %>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Titel</span>
        <%= f.text_field :title, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">frühestens</span>
        <%= f.select :start,
            select_options_for(@task, :starts), {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">bis spätestens</span>
        <%= f.select :stop,
            select_options_for(@task, :stops), {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Wiederholung</span>
        <%= f.select :repeat,
            select_options_for(@task, :repeats), {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Beschreibung</span>
        <%= f.text_area :desc, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="radio" value="false" name="task[hide]" id="task_hide_false"<% unless @task.hide %> checked="checked"<% end %>>
        </span>
        <span class="form-control">
          Aufgabe in der Aufgabenliste anzeigen
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="radio" value="false" name="task[hide]" id="task_hide_true"<% if @task.hide %> checked="checked"<% end %>>
        </span>
        <span class="form-control">
          Aufgabe in der Aufgabenliste <b>nicht</b> anzeigen
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="pull-right">
          <a href="<%= plant_path(@plant) %>">Abbrechen</a>&nbsp;
          <%= f.submit :class => "btn btn-success" %>
      </div>
    </div>
  </div>
  <br>
<% end %>
