      <tr>
        <td<% if include_plant %> class="hidden-xs"<% end %>>

          <% if include_plant %>
            <button type="button" class="btn btn-default eye-button">
              <div class="visibility" data-id="<%= task.id %>" data-plant-id="<%= task.plant.id %>" data-path="/plants/">
                <%= image_tag "eye_visible.jpg", width: "25px", height: "25px" %>
              </div>
            </button>

          <% elsif can? :manage, task %>
            <button type="button" class="btn btn-default eye-button">
              <% if task.hide %>
                <div class="task-visibility" data-task-id="<%= task.id %>" data-plant-id="<%= task.plant.id %>" data-path="/plants/">
                  <%= image_tag "eye_not_visible.jpg", width: "25px", height: "25px" %>
                </div>
              <% else %>
                <div class="task-visibility" data-task-id="<%= task.id %>" data-plant-id="<%= task.plant.id %>" data-path="/plants/">
                  <%= image_tag "eye_visible.jpg", width: "25px", height: "25px" %>
                </div>
              <% end %>
            </button>
          <% end %>

        </td>
        <td>
          <% if include_plant && task.plant.main_image.file? %>
              <%= link_to image_tag(download_main_image_plant_path(task.plant, {size: :thumb}), class: "img-rounded img-responsive"), task.plant %>
          <% elsif !task.task_images.empty? && task.task_images[0].image.file? %>
              <%= image_tag(download_task_image_plant_task_task_image_path(task.plant, task, task.task_images[0], {size: :thumb}), class: "img-rounded img-responsive") %>
          <% elsif include_plant %>
            <%= link_to task.plant.name, task.plant, class: "visible-sm-inline visible-xs-inline" %>
          <% end %>
        </td>
        <% if include_plant %>
          <td class="hidden-sm hidden-xs">
            <%= link_to task.plant.name, task.plant %>
          </td>
        <% end %>

        <td>
          <%= link_to task.title, plant_task_path(task.plant, task), class: "wrap-title" %>
        </td>

        <td<% if include_plant %> class="hidden-xs"<% end %>>
          <% if can? :manage, task %>
            <button type="button" class="btn btn-default task-ok">
              <% if task.upcoming? %>
                <%= image_tag "exclamation_mark.png", width: "20px", height: "20px" %>
              <% else %>
                <%= image_tag "ok.png", width: "20px", height: "20px" %>
              <% end %>
            </button>
          <% end %>
        </td>

        <td class="hidden-xs">
          <%= task_time_frame(task) %>
        </td>

        <% if can? :manage, task %>
          <td class="hidden-xs">
            <%= link_to (image_tag "skip.png", width: "25px", height: "25px"),
                    { controller: "done_tasks",
                      action:     "create",
                      user_id:    current_user.id,
                      task_id:    task.id,
                      plant_id:      task.plant.id,
                      params:      { done_task: { skipped: :ueberspringen,
                                                  task_id: task.id } } },
                    method: "post",
                    class: "btn btn-default"
            %>
          </td>

          <td>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#taskDoneModal<%= task.id %>">
              <%= image_tag "schaufel.png", width: "25px", height: "25px" %>
            </button>
            <%= form_for :done_task, method: :post,
               url: plant_done_tasks_path(task.plant) do |f| %>
              <%= render partial: "done_tasks/modal",
                      locals: { plant:     task.plant,
                                task:      task,
                                modal_id:  task.id,
                                done_task: nil,
                                f:         f,
                                skipped:   nil } %>
            <% end %>
          </td>
        <% end %>
      </tr>
