<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading<%= task.id %>">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= task.id %>" aria-expanded="false" aria-controls="collapse<%= task.id %>">
        <div class="row">
          <div class="col-xs-6">
            <%= task.title %>
            <small><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></small>
          </div>
          <div class="col-xs-6 task-action-links">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <% if task.done? %>
              ist erledigt
            <% elsif task.skipped? %>
              übersprungen
            <% elsif task.upcoming? %>
              <span class="task-warning">wartet auf Ausführung</span>
            <% else %>
              steht zur Zeit nicht an
            <% end %>
          </div>
        </div>
      </a>
    </h4>
  </div>
  <div id="collapse<%= task.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= task.id %>">
    <div class="panel-body">
      <% if can? :manage, task %>
        <div class="row">
          <div class="col-xs-3">
            <% if task.hide %>
              <div class="task-visibility" data-id="<%= task.id %>" data-plant-id="<%= task.plant.id %>" data-path="">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Sichtbarkeit in der Aufgabenliste durch Anklicken des Auges an- oder ausschalten."></span>
              </div>
            <% else %>
              <div class="task-visibility" data-id="<%= task.id %>" data-plant-id="<%= task.plant.id %>" data-path="">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Sichtbarkeit in der Aufgabenliste durch Anklicken des Auges an- oder ausschalten."></span>
              </div>
            <% end %>&nbsp;
          </div>
          <div class="col-xs-9 task-action-links">
            <% if can? :manage, @plant %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <%= link_to 'Bearbeiten', edit_plant_task_path({ id: task.id, plant_id: task.plant_id }) %>&nbsp;
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
              <%= link_to 'Entfernen', [task.plant, task], method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "delete-link" %>
            <% end %>
          </div>
        </div>
        <br>
      <% end %>

      <div class="row">
        <div class="col-xs-12">
          <%= raw markdown.render(task.desc) %>
        </div>
      </div>
      <% if can? :manage, task %>
        <div class="row">
          <div class="col-xs-6">
            Wiederholung: <strong><%= task.repeat.humanize %></strong>
          </div>
          <div class="col-xs-6 task-action-links">

            <% if task.upcoming? %>
              <%= link_to "überspringen", plant_task_done_tasks_path({task_id: task.id, plant_id: task.plant.id, done_task: { skipped: true } }), method: :post, class: "btn btn-default", role: "button" %>&nbsp;
            <% end %>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#taskDoneModal">
              erledigt
            </button>
            <%= render partial: "done_tasks/modal", locals: { task: task } %>
         </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
