<%= render partial: "/tasks/sidebar" %>
<%= render partial: "plants/header" %>

<div class="row">
  <div class="col-xs-12 edit-plant-link">
  </div>
</div>

<h4>
<span class="task-title">Bearbeiten: <%= link_to @task.title, plant_task_path(@task.plant, @task) %></span></h4>

<%= form_for :task, method: :patch, url: plant_task_path(@task.plant, @task) do |f| %>
  <%= render partial: "form", locals: { f: f } %>
<% end %>
