<%= render partial: "plants/sidebar" %>
<%= render partial: "plants/header" %>

<div class="row">
  <div class="col-xs-12 edit-plant-link">
  </div>
</div>

<% if @tasks.empty? %>
  ...noch keine Aufgaben.<br><br>

  <% if @plant.user == current_user %>
    <h4>Neue Aufgabe anlegen</h4>
    <%= render partial: "form" %>
  <% end %>

<% else %>
  <table class="table">

    <% @tasks.each do |task| %>
      <%= render partial: "tasks/task_entry",
                 locals: { task: task, include_plant: false } %>
    <% end %>
  </table>

  <% if @plant.user == current_user %>
    <div class="row">
      <div class="col-xs-12">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <%= link_to "Neue Aufgabe", new_plant_task_path(@plant) %>
      </div>
    </div>
  <% end %>
<% end %>
