<%= render partial: "/plants/sidebar" %>

<h4><%= link_to @plant.name, @plant %></h4>

<div class="row">
  <div class="col-xs-6">
    <h4>
      <span class="task-visibility" data-id="<%= @task.id %>" data-plant-id="<%= @task.plant.id %>" data-path="/plants/">
        <% if @task.hide %>
            <%= image_tag "eye_not_visible.jpg" %>
        <% else %>
            <%= image_tag "eye_visible.jpg" %>
        <% end %>
      </span>
    <%= @task.title %></h4>
  </div>
  <div class="col-xs-6 edit-plant-link">
    <% if can? :manage, @plant %>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <%= link_to 'bearbeiten', edit_plant_task_path(@plant, @task) %>&nbsp;

    <% end %>

  </div>
</div>

<% if task_time_frame(@task).present? %>
  <strong>Zeitraum:</strong>
  <%= task_time_frame(@task) %>,
<% end %>

<strong>Wiederholung:</strong>
<%= @task.repeat.humanize %>
<br><br>

<div class="row">
  <div class="col-xs-12">
    <%= raw markdown.render(@task.desc) %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 task-action-links">
    <% if can? :manage, @task %>
        <% if @task.upcoming? %>
          <%= link_to "überspringen", plant_task_done_tasks_path({task_id: @task.id, plant_id: @task.plant.id, done_task: { skipped: true } }), method: :post, class: "btn btn-default", role: "button" %>&nbsp;
        <% end %>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#taskDoneModal<%= @task.id %>">
          erledigt
        </button>
        <%= render partial: "done_tasks/modal", locals: { task: @task } %>
    <% end %>
  </div>
</div>

<% if @task.plant.user == current_user %>
  <% unless @task.done_tasks.empty? %>
    <h4>Erledigte Aufgaben</h4>
    <table class="table">
      <tr>
        <th>Aufgabe</th>
        <th>Notiz</th>
        <th>Datum</th>
        <th></th>
        <th></th>
      </tr>
        <%= render @task.done_tasks %>
    </table>
  <% end %>
<% end %>
