<%= render partial: "sidebar" %>
<%= render partial: "plants/header" %>

<div class="row">
  <div class="col-xs-12 task-title-show">
    <h4><%= @task.title %></h4>
  </div>
  <div class="col-xs-12 task-action-links">
    <button type="button" class="btn btn-default eye-button">
      <span class="task-visibility" data-task-id="<%= @task.id %>" data-plant-id="<%= @task.plant.id %>" data-path="/plants/">
        <% if @task.hide %>
            <%= image_tag "eye_not_visible.jpg", width: "25px", height: "25px" %>
        <% else %>
            <%= image_tag "eye_visible.jpg", width: "25px", height: "25px" %>
        <% end %>
      </span>
    </button>
  <% if can? :manage, @plant %>
    <%= link_to (image_tag "edit_icon.jpg", width: "20px", height: "20px"),
                 edit_plant_task_path(@plant, @task),
                 class: "btn btn-default" %>
    <%= link_to (image_tag "red_cross.jpg", width: "20px", height: "20px"),
          plant_task_path(@task.plant, @task),
          method: :delete,
          data: { confirm: 'Diese Aufgabe löschen?' },
          class: "btn btn-default" %>
  <% end %>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 task-description">
    <%= raw markdown.render(@task.desc) %>
  </div>
</div>
</br>

<% if task_time_frame(@task).present? %>
  <% if @task.upcoming? %>
    <%= image_tag "exclamation_mark.png", width: "20px", height: "20px" %>
  <% else %>
    <%= image_tag "ok.png", width: "20px", height: "20px" %>
  <% end %>
  <strong>Zeitraum:</strong>
  <%= task_time_frame(@task) %>
<% end %>
<div class="task-timespan">
  <strong>Wiederholung:</strong>
  <%= @task.repeat.humanize %>
</div>

<div class="task-timespan">
  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    <% if @task.done? %>
      ist erledigt
    <% elsif @task.skipped? %>
      übersprungen
    <% elsif @task.upcoming? %>
      <span class="task-warning">wartet auf Ausführung</span>
    <% else %>
      steht zur Zeit nicht an
    <% end %>
</div>

<div class="task-action-links">
  <% if can? :manage, @task %>
      <%= link_to (image_tag "skip.png", width: "25px", height: "25px"),
                  { controller: "done_tasks",
                    action:     "create",
                    user_id:    current_user.id,
                    params:      { done_task: { skipped: :ueberspringen,
                                                task_id: @task.id } } },
                  method: "post",
                  class: "btn btn-default"
      %>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#taskDoneModal<%= @task.id %>">
      <%= image_tag "schaufel.png", width: "25px", height: "25px" %>
    </button>
  <% end %>
</div>

<%= form_for :done_task,
    url: plant_done_tasks_path(@task.plant, @task) do |f| %>
  <%= render partial: "done_tasks/modal",
               locals: { plant:     @task.plant,
                         task:      @task,
                         modal_id:  @task.id,
                         done_task: nil,
                         f:         f,
                         skipped:   :erledigt } %>
<% end %>
