<%= render partial: "/plants/sidebar" %>

<h4><%= link_to @plant.name, @plant %></h4>

<div class="row">
  <div class="col-xs-6">
    <h4><%= @task.title %></h4>
  </div>
  <div class="col-xs-6 edit-plant-link">
    <% if can? :manage, @plant %>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <%= link_to 'bearbeiten', edit_plant_task_path(@plant, @task) %>&nbsp;
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <%= link_to "erledigt", plant_task_done_tasks_path({task_id: @task.id, plant_id: @plant.id}), method: :post %>
    <% end %>

  </div>
</div>
<br>
<br>

<table class="table">
  <tr>
    <th>Anzeige</th>
    <th>von</th>
    <th>bis</th>
    <th>Wiederholung</th>
  </tr>
  <tr>
    <td><% if @task.hide %>versteckt<% else %><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><% end %></td>
    <td><%= @task.start.humanize %></td>
    <td><%= @task.stop.humanize.titleize %></td>
    <td><%= @task.repeat.humanize %></td>
  </tr>
</table>

<div class="row">
  <div class="col-xs-12">
    <%= raw markdown.render(@task.desc) %>
  </div>
</div>
