<div class="row welcome">
  <div class="col-md-12">
    <h4>Herzlich willkommen!</h4>
  </div>
</div>

<div class="row welcome">
  <div class="col-md-12">
    In der <%= link_to "Pflanzensuche", search_index_path %> kannst Du Dir Pflanzentipps anderer Gartenfreunde anschauen.
  </div>
</div>

<div class="row welcome">
  <div class="col-md-12">
    <%= image_tag "welcome.png", class: "img-rounded img-responsive" %>
  </div>
</div>

<div class="row welcome">
  <div class="col-md-12">
    Bitte registriere Dich oder logge Dich ein, wenn Du Deine persönliche Pflanzenliste erstellen möchtest.
  </div>
</div>

<div class="row welcome">
  <div class="col-md-12">
    <%= link_to "Registrieren", new_user_registration_path, class: "btn btn-default", role: "button" %>
    <%= image_tag "green_flower_icon.png", width: "15px", height: "15px" %>
    <%= link_to "Einloggen", new_user_session_path, class: "btn btn-default", role: "button"  %>
  </div>
</div>
