<% if @task_image && @task_image.id
     task_image = @task_image
   else
     task_image = @task.task_images.build
   end
%>

<%= form_for([@plant, @task, task_image], html: { multipart: true }) do |f| %>

  <%#= f.fields_for :task_image do |ff| %>
  <%#= form_for :task_image, html: { multipart: true }) do |f| %>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Bild</span>
        <%= f.file_field :image, :class => "form-control",
           "aria-label" => "Bild" %>
      </div>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Bildunterschrift</span>
        <%= f.text_field :title, :class => "form-control",
           "aria-label" => "Bildunterschrift" %>
      </div>
    </div>
  </div>
  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Bildbeschreibung</span>
        <%= f.text_area :desc, :class => "form-control",
           "aria-label" => "Bildbeschreibung" %>
      </div>
    </div>
  </div>
      <% if f.object && f.object.persisted? %>
        <%= f.check_box :_destroy %>
        <%= f.label :_destroy, "Entfernen" %>
      <% end %>

  <div class="pull-right form-space">
    <%= f.submit "Bild hochladen", :class => "btn btn-success" %>
  </div>
<% end %>
