<h4>Benutzer</h4>

<table class="table">
  <tr>
    <th>Bild</th>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><% if user.picture.file? %><%= link_to image_tag(user.picture.url(:thumb)), user %><% end %>
    </td>
    <td><%= "#{user.first_name} #{user.last_name}" %></td>
    <td><%= user.email %></td>
    <td><%= user.admin %></td>
    <td>
      <% if can? :update, user %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
