<h3>Meine Pflanzensammlung</h3>
<%= form_tag "/users/#{current_user.id}/delete_plants" do %>
  <table>
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Beschreibung</th>
  </tr>

  <% current_user.plants.each do |plant| %>
    <tr>
      <td><%= check_box_tag 'plant_ids[]', plant.id, :id => "plant_ids_#{plant.id}", :checked => false -%></td>
      <td><%= link_to( image_tag(plant.image.url(:thumb)), plant) %></td>
      <td><%= link_to plant.name, plant %></td>
      <td><%= raw markdown.render(plant.desc) %></td>
    </tr>
  <% end %>
  </table>
  <%= submit_tag "Entfernen" %>
<% end %>

<%= form_tag("/users/#{current_user.id}/add_plant") do %>
  <%= select_tag("plants", options_from_collection_for_select(@plants, "id", "name") ) %>
  <%= submit_tag("hinzufügen") %>
<% end %>
