<h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email Adresse</th>
    <th>Administrator</th>
    <th></th>
  </tr>
  <tr>
    <td><%= "#{@user.first_name} #{@user.last_name}" %></td>
    <td><%= @user.email %></td>
    <td><%= @user.admin %></td>
    <td><%= link_to "edit", edit_user_path(@user) %></td>
  </tr>
</table>
