<div class="row">
  <div class="col-xs-12">
      <%#= link_to "Hilfe", static_pages_help_path %>
      <%= link_to "Home", root_path %>&nbsp;
      <%= image_tag("green_flower_icon.png", height: '15px', width: '15px') %>
      <%= render "shared/first_steps_menu" %>
      <%= image_tag("green_flower_icon.png", height: '15px', width: '15px') %>
      <%= link_to "Phaenologische Meldungen", new_season_path %> (Beta)
  </div>
</div>
