<div class="row">
  <div class="col-xs-12">
      <%#= link_to "Hilfe", static_pages_help_path %>&nbsp;
      <%= link_to "Empfehlungen", static_pages_recommendations_path %>&nbsp;
      <%= image_tag("green_flower_icon.png", height: '15px', width: '15px') %>
      <%= link_to "Impressum", static_pages_impressum_path %>&nbsp;
      <%= image_tag("green_flower_icon.png", height: '15px', width: '15px') %>
      <%= link_to "Kontakt", static_pages_contact_path %>&nbsp;
  </div>
</div>
