<div class="row">
  <div class="col-xs-12">
    <% if current_user %>
      <%= link_to "Profil", user_path(current_user) %>&nbsp;
      <%= image_tag("green_flower_icon.png", height: '15px', width: '15px') %>
      <%= current_user.display_name %>
      <% if current_user.admin? %> (Administrator)<% end %>
      <%= image_tag("green_flower_icon.png", height: '15px', width: '15px') %>
      <%= link_to "Ausloggen", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Einloggen', new_user_session_path %>
      oder
      <%= link_to 'Registrieren', new_user_registration_path %>
    <% end %>
  </div>
</div>
