<% if @plant %>
  <div class="row sidebar-plant">
    <div class="col-xs-12">
      <%= link_to image_tag(@plant.main_image, style: :medium, class: "sidebar-image img-rounded img-responsive"), @plant  %>
    </div>
  </div>
  <div class="row sidebar-plant">
    <div class="col-xs-12">
      <% if @plant.active %>
      <%# TODO: class: "img-rounded img-responsive" %>
        <%= image_tag "plant_active.gif", height: '42px', width: '30px' %> aktiv
      <% else %>
        <%= image_tag "plant_inactive.gif", height: '42px', width: '30px' %> nicht aktiv
      <% end %>
    </div>
    <div class="col-xs-12">
      von <%= @plant.creator.display_name %>
    </div>
  </div>
<% end %>

<% if current_page?(controller: 'contacts') %>
<%# TODO: add a nice image here? %>
  <div class="row sidebar-contacts">
    <div class="col-xs-12">
      <p><strong>Befreundete GärtnerInnen kontaktieren</strong><p>
      <%= render 'new' %>
    </div>
  </div>
<% end %>

<% if current_page?(controller: 'plants', action: 'new') %>
  <div class="row sidebar-contacts">
    <div class="col-xs-12">
      <%= render 'search_form' %>

      <div class="row">
        <div class="col-xs-12">
          <br>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <%= link_to "Freunde hinzufügen", new_contact_path %>
        </div>
      </div>
    </div>
  </div>
<% end %>
