<tr>
  <td>
    <%= link_to image_tag(download_picture_user_path(user, {size: :medium}), class: "img-rounded img-responsive"), user %>
  </td>
  <td>
    <strong><%= user.display_name %></strong>
  </td>
  <td><%= user.plants.count %> <%= link_to "Pflanzen", user_plants_path(user) %></td>
  <% if contact.confirmed.nil? %>
  <td>
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <%= link_to "bestätigen", contact_path(contact, confirmed: true), method: :patch %>
  </td>
  <% end %>
  <td>
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
    <% if contact.confirmed.nil? %>
      <%= link_to "ablehnen", contact_path(contact, confirmed: false), method: :patch, class: "delete-link" %>
    <% else %>
      <%= link_to "löschen", contact_path(contact, confirmed: false), method: :patch, class: "delete-link" %>
    <% end %>
  </td>
</tr>
