<%= form_for :plant, method: :patch, url: plant_path(@plant), :html => { :multipart => true } do |f| %>

  <% if @plant && @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="input-group">
    <%= f.text_field :name, :class => "form-control",
       :placeholder => "Username",
       "aria-describedby" => "basic-addon1" %>
</div>
<br />

<%= image_tag @plant.main_image.url(:thumb) %>

<div class="input-group">
  <%= f.file_field :main_image, :class => "form-control",
     :placeholder => "Main image",
     "aria-describedby" => "basic-addon1" %>
</div>
<br />
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Kurze Beschreibung</span>
    <%= f.text_field :subtitle, :class => "form-control",
       :placeholder => "Lateinische Bezeichnung",
       "aria-describedby" => "basic-addon1" %>
</div>
<br />
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Beschreibung</span>
    <%= f.text_area :desc, :class => "form-control",
       :placeholder => "Beschreibung",
       "aria-describedby" => "basic-addon1" %>
</div>
<br />
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Aktivieren?</span>
   <%= radio_button("plant", "active", true) %> Ja
   <%= radio_button("plant", "active", false) %> Nein

</div>
<br />
<div class="input-group">
  <span class="input-group-btn">
    <%= f.submit :class => "btn btn-success" %>
  </span>
</div>
<% end %>
