<%= form_for :plant, method: :patch, url: plant_path(@plant), :html => { :multipart => true } do |f| %>

  <% if @plant && @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user == @plant.creator %>
    <div class="row">
      <div class="col-xs-1">
        <% if @plant.public %>
          <%= image_tag("world-globe32x32.png", class: "img-responsive") %>
        <% else %>
          <%= image_tag("not-world-globe32x32.png", class: "img-responsive") %>
        <% end %>
        <%# TODO: world durchgestrichen? als private icon? %>
      </div>
      <div class="col-xs-2">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" aria-label="public" value="true" name="plant[public]" <% if @plant.public %>checked="checked"<% end %>>
          </span>
          <span class="input-group-addon">
            öffentlich
          </span>
        </div><!-- /input-group -->
      </div>
      <div class="col-xs-9">
      </div>
    </div>
  <% else %>
    <%= image_tag("not-world-globe32x32.png", class: "img-responsive") %>
    Von anderen kopierte Pflanzenpflegetips können nicht öffentlich geschaltet werden.
  <% end %>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
         <span class="input-group-addon" id="basic-addon1">Pflanzenname</span>
          <%= f.text_field :name, :class => "form-control",
             "aria-label" => "Pflanzenname" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <%= image_tag download_main_image_plant_path(@plant, {size: :thumb}), class: "img-rounded img-responsive" %>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Bild</span>
        <%= f.file_field :main_image, :class => "form-control",
           "aria-label" => "Bild" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Lateinische Bezeichnung</span>
          <%= f.text_field :subtitle, :class => "form-control",
             "aria-label" => "Lateinische-Bezeichnung" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Beschreibung</span>
          <%= f.text_area :desc, :class => "form-control",
             "aria-label" => "Beschreibung", rows: "12" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="pull-right">
        <a href="<%= plant_path(@plant) %>">Abbrechen</a>&nbsp;
        <%= f.submit "Pflanze speichern", :class => "btn btn-success" %>
      </div>
    </div>
  </div>
  <br>
<% end %>
