<div class="row">
  <div class="col-xs-12">
    <h2>
      <% if can? :manage, @plant %>
      <%# if @plant.user == current_user %>
        <span class="active-button" data-id="<%= @plant.id %>" data-path="/plants/">
          <button type="button" class="btn btn-default">
          <% if @plant.active %>
            <%= image_tag "plant_active.gif", height: '35px', width: '24px',
                 "data-toggle" => "tooltip", "data-placement" => "bottom",
                 title: I18n.t("tooltip_plant_active") %>
          <% else %>
            <%= image_tag "plant_inactive.gif", height: '35px', width: '24px', "data-toggle" => "tooltip", "data-placement" => "bottom",
                 title: I18n.t("tooltip_plant_inactive")  %>
          <% end %>
          </button>
        </span>
      <% end %>
      <%= title @plant.name %>
      <% if @plant.user != current_user %>
        <small>von <%= link_to @plant.creator.display_name, user_path(@plant.creator) %></small>
      <% elsif @plant.user != @plant.creator %>
        <small><small>kopiert von <%= link_to @plant.creator.display_name, user_path(@plant.creator) %> am <%= l @plant.created_at, format: :very_short %></small></small>
      <% end %>
    </h2>
  </div>
</div>

<%= display_plant_tabs(@plant) %>

