<tr>
  <td>
    <% if plant.main_image.file? %>
      <%= link_to image_tag(download_main_image_plant_path(plant, {size: :thumb}), class: "img-rounded img-responsive"), plant %><% end %></td>
  <td><%= link_to plant.name, plant, class: "plant-name" %></td>
  <td>
    <% if user.blank? %>
      <% if plant.creator != current_user %>
        von <%= link_to plant.creator.display_name, plant.creator %>
      <% else %>
        eigene
      <% end %>
    <% end %>
  </td>
  <% if only_my_plants %>
    <td>
      <div class="plant-visibility"
         data-plant-id="<%= plant.id %>"
         data-switch-allowed="<% if plant.creator == current_user %>1<% else %>0<% end %>"
           data-toggle="popover"
           data-container="body"
           data-trigger="hover"
           title="Veröffentlichen und privatisieren"
           data-content="Durch Klicken auf das Symbol kann die Pflanze veröffentlicht bzw. privat geschaltet werden. Jedoch: nur der/die ursprüngliche AutorIn darf die Pflanze veröffentlichen oder verstecken."
         >

        <% if plant.public %>
          <%= image_tag "world-globe32x32.png" %>
        <% else %>
          <%= image_tag "not-world-globe32x32.png" %>
        <% end %>
      </div>
    </td>

    <td class="active-button" data-id="<%= plant.id %>" data-path="plants/">
      <% if plant.active %>
      <%# TODO: class: "img-rounded img-responsive" %>
        <%= image_tag "plant_active.gif", height: '42px', width: '30px',  "data-toggle" => "tooltip", "data-placement" => "bottom",
             title: "Pflanze ist aktiv, d.h. Pflegetips werden in der Aufgabenliste angezeigt. Zum inaktiv schalten, bitte auf das Bild klicken."  %>
      <% else %>
        <%= image_tag "plant_inactive.gif", height: '42px', width: '30px',  "data-toggle" => "tooltip", "data-placement" => "bottom",
             title: "Pflanze ist inaktiv, d.h. Pflegetips werden in der Aufgabenliste nicht angezeigt. Zum aktiv schalten, bitte auf das Bild klicken."  %>
      <% end %>
    </td>
  <% end %>
  <td>
    <% if plant.original.public %>
      <div class="likes-count"><%= plant.original.get_likes.size %>
      <%= image_tag("thumb_up30x38.png") %></div>
    <% end %>
  </td>
  <% if only_my_plants %>
    <td>
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      <%= link_to 'Entfernen', plant, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "delete-link" %>
    </td>
  <% end %>
</tr>
