<tr>
  <td>
    <% if plant.main_image.file? %>
      <%= link_to image_tag(download_main_image_plant_path(plant, {size: :thumb}), class: "img-rounded img-responsive"), plant %>
    <% end %>
  </td>

  <% if only_my_plants %>
      <td class="active-button" data-id="<%= plant.id %>" data-path="plants/">
      <% if plant.active %>
      <%# TODO: class: "img-rounded img-responsive" %>
        <%= image_tag "plant_active.gif", height: '42px', width: '30px',  "data-toggle" => "tooltip", "data-placement" => "bottom",
             title: "Pflanze ist aktiv, d.h. Pflegetipps werden in der Aufgabenliste angezeigt. Zum inaktiv schalten, bitte auf das Bild klicken."  %>
      <% else %>
        <%= image_tag "plant_inactive.gif", height: '42px', width: '30px',  "data-toggle" => "tooltip", "data-placement" => "bottom",
             title: "Pflanze ist inaktiv, d.h. Pflegetipps werden in der Aufgabenliste nicht angezeigt. Zum aktiv schalten, bitte auf das Bild klicken."  %>
      <% end %>
    </td>
  <% end %>

  <td><%= link_to plant.name, plant, class: "plant-name" %></td>

  <td>
    <% if only_my_plants %>
      <% if plant.creator != plant.user %>
        <small>kopiert von</small><br>
        <%= link_to plant.creator.display_name, plant.creator %>
      <% end %>

    <% elsif other_user.blank? %><%# means: search result %>
      <small>von</small><br>
      <%= link_to plant.user.display_name, plant.user %><br>
      <% if plant.creator != plant.user %>
        <small>kopiert von</small><br>
        <%= link_to plant.creator.display_name, plant.creator %><br>
      <% end %>
    <%# if other user, copied plants should not be visible %>
    <% end %>
  </td>

  <% if only_my_plants %>
    <td>
      <% if plant.creator != current_user %>
        <div data-toggle="popover"
             data-container="body"
             data-trigger="focus"
             role="button"
             tabindex="0"
             data-placement="bottom"
             data-content="Nur der/die ursprüngliche AutorIn kann die Pflanzenbeschreibung veröffentlichen.">
      <% end %>

      <div class="plant-visibility world-globe"
         data-plant-id="<%= plant.id %>"
         data-switch-allowed="<% if plant.creator == current_user %>1<% else %>0<% end %>"
         >
        <% if plant.public %>
          <% if plant.creator != current_user %>
            <%= image_tag "world-globe32x32_grey.png" %>
          <% else %>
            <%= image_tag "world-globe32x32.png" %>
          <% end %>

        <% else %>
          <% if plant.creator != current_user %>
            <%= image_tag "not-world-globe32x32_grey.png" %>
          <% else %>
            <%= image_tag "not-world-globe32x32.png" %>
          <% end %>
        <% end %>
      </div>
      <% if plant.creator == current_user %>
        </div>
      <% end %>
    </td>
  <% end %>

  <td>
    <% if plant.public || only_my_plants %>
      <div class="likes-counter" data-id=<%= plant.id %> data-path="/plants/" data-likeallowed="1">
        <span class="likes-count"><%= plant.get_likes.size %></span>

        <% if current_user.voted_for?(plant) %>
          <%= image_tag "voted_thumb_up.png" %>
        <% else %>
          <%= image_tag "unvoted_thumb_up.png" %>
        <% end %>
      </div>
    <% end %>
  </td>

  <% if only_my_plants %>
    <td>
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      <%= link_to 'Entfernen', plant, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "delete-link" %>
    </td>
  <% end %>
</tr>
