    <div class="col-xs-6 original-details">
      <div class="panel panel-default">
        <div class="panel-body" id="orig-plant-bar">
          <% if plant.original? %>
            AutorIn:&nbsp;
          <% else %>
            Kopiert von:&nbsp;
          <% end %>
          <%= link_to plant.creator.display_name, plant.creator %>
          &nbsp;

          <% unless plant.original? %>
            <% if plant.original.public %>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= link_to 'Original', plant.original %>
            <% else %>
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              <a data-toggle="popover"
                 data-trigger="focus"
                 data-placement="bottom"
                 data-content="Pflanze ist nicht mehr öffentlich."
                 role="button"
                 tabindex="0">Original</a>
            <% end %>
          <% end %>

          <span class="likes-counter" data-id=<%= plant.original.id %> data-path="/plants/" data-likeallowed="1">

            <span class="likes-count-small"><%= plant.original.get_likes.size %></span>

            <% if current_user && current_user.voted_for?(plant.original) %>
              <%= image_tag("voted_thumb_up.png") %>
            <% elsif user_signed_in? %>
              <%= image_tag("unvoted_thumb_up.png") %>
            <% else %>
            <a data-toggle="popover"
                 data-trigger="focus"
                 data-placement="left"
                 data-content="Zum Abstimmen bitte erst einloggen oder registrieren."
                 role="button"
                 tabindex="0"><%= image_tag("unvoted_thumb_up.png") %></a>
            <% end %>
          </span>
        </div>
      </div>
    </div>
