<% content_for :sidebar do %>
  <% if @plant %>
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-xs-12">

          <% if current_user && @plant.creator != current_user %>
            <div data-toggle="popover"
                 data-container="body"
                 data-trigger="focus"
                 role="button"
                 tabindex="0"
                 data-placement="bottom"
                 data-content="Nur der/die ursprüngliche AutorIn kann die Pflanzenbeschreibung veröffentlichen.">
          <% end %>

          <button class="btn btn-default plant-visibility sidebar-plant-public"
               data-plant-id="<%= @plant.id %>"
               data-switch-allowed="<% if @plant.creator == current_user %>1<% else %>0<% end %>"
               >
            <% if @plant.public %>
              <% if current_user && @plant.creator == current_user %>
                <%= image_tag("world-globe32x32.png") %> <span>&nbsp;öffentlich</span>
              <% else %>
                <%= image_tag("world-globe32x32_grey.png") %> <span>&nbsp;öffentlich</span>
              <% end %>
            <% else %>
              <% if current_user && @plant.creator == current_user %>
                <%= image_tag("not-world-globe32x32.png") %> <span>&nbsp;privat</span>
              <% else %>
                <%= image_tag("not-world-globe32x32_grey.png") %> <span>&nbsp;privat</span>
              <% end %>
            <% end %>
          </button>

          <% if current_user && @plant.creator != current_user %>
            </div>
          <% end %>
        </div>
      </div>
    <% end -%>

    <div class="row">
      <div class="col-xs-12 sidebar-image">
        <%= link_to image_tag(download_main_image_plant_path(@plant, {size: :medium}), class: "img-rounded img-responsive", alt: @plant.name, title: @plant.name), @plant  %>
      </div>
    </div>

    <% if current_user && @plant.user == current_user && !@plant.private_notes.empty? && current_page?(@plant) %>
      <div class="row sidebar-private-notes">
        <div class="col-xs-12">
          <p><strong>Private Notizen:</strong></p>
          <%= raw markdown.render(@plant.private_notes) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
