<% content_for :sidebar do %>
  <% if current_user && @plant %>
    <div class="row">
      <div class="col-xs-12">
        <div class="plant-visibility"
             data-plant-id="<%= @plant.id %>"
             data-switch-allowed="<% if @plant.creator == current_user %>1<% else %>0<% end %>"
               data-toggle="popover"
               data-container="body"
               data-trigger="hover"
               title="Veröffentlichen und privatisieren"
               data-content="Durch Klicken auf das Symbol kann die Pflanze veröffentlicht bzw. privat geschaltet werden. Jedoch: nur der/die ursprüngliche AutorIn darf die Pflanze veröffentlichen oder verstecken."
             >
          <% if @plant.public %>
            <%= image_tag("world-globe32x32.png") %> <span>&nbsp;öffentlich</span>
          <% else %>
            <%= image_tag("not-world-globe32x32.png") %> <span>&nbsp;privat</span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 sidebar-image">
        <%= link_to image_tag(download_main_image_plant_path(@plant, {size: :medium}), class: "img-rounded img-responsive"), @plant  %>
      </div>
    </div>

    <% if @plant.creator != current_user %>
      <div class="row sidebar-votes">
        <div class="col-xs-12">
          <% if current_user.voted_for?(@plant.original) %>
            <% if @plant.user == current_user %>Original<% end %>
              von mir empfohlen
              <%= image_tag("green_flower_icon.png", height: '20px', width: '20px') %><%# TODO: hier könnte ein tooltip hin: von mir als besonders hilfreich markiert %>
          <%# TODO: undo voting %>
          <% else %>
            <% if @plant.user != current_user %>
              <%= link_to 'empfehlen', vote_plant_path(@plant.original), method: :post %>
            <% else %>
              <%= link_to 'Original empfehlen', vote_plant_path(@plant.original), method: :post %>
            <% end %>
            <%= image_tag("green_flower_icon.png", height: '20px', width: '20px') %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
