<% content_for :sidebar do %>
  <% if current_user && @plant %>
    <div class="row">
      <div class="col-xs-12">
        <% if @plant.public %>
          <%= image_tag("world-globe32x32.png") %> öffentlich
        <% else %>
          <%= image_tag("not-world-globe32x32.png") %> privat
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 sidebar-image">
        <%= link_to image_tag(download_main_image_plant_path(@plant, {size: :medium}), class: "img-rounded img-responsive"), @plant  %>
      </div>
    </div>

    <% if @plant.creator != current_user %>
      <div class="row sidebar-votes">
        <div class="col-xs-12">
          <% if current_user.voted_for?(@plant.original) %>
            <% if @plant.user == current_user %>Original<% end %> von mir  empfohlen
          <%= image_tag("green_flower_icon.png", height: '20px', width: '20px') %><%# TODO: hier könnte ein tooltip hin: von mir als besonders hilfreich markiert %>
          <%# TODO: undo voting %>
          <% else %>
            <% if @plant.user != current_user %>
              <%= link_to 'empfehlen', vote_plant_path(@plant.original), method: :post %>
            <% else %>
              <%= link_to 'Original empfehlen', vote_plant_path(@plant.original), method: :post %>
            <% end %>
            <%= image_tag("green_flower_icon.png", height: '20px', width: '20px') %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
