<% content_for :sidebar do %>
  <div class="hidden-xs">
    <br>
    <h4>Meine Pflanzen:</h4>
    <%= render partial: "statistics" %>
  </div>
<% end %>

<div class="row">
  <% if @searched %>
    <div class="col-xs-12">
      <h2>Suchergebnis</h2>
    </div>
  <% else %>
    <div class="col-md-12">
      <h2><%= title "Meine Pflanzen" %></h2>
    </div>

    <% unless @plants.empty? %>
      <div class="col-md-12">
        <div class="col-sm-6 col-xs-12 sorting-selection">
          Sortieren nach
          <div class="btn-group">
            <button type="button" class="btn btn-default">
              <%= link_with_params(:sorting, @selected_sorting, @selected_filter) %>
              <% @sorting_options.delete(@selected_sorting) %>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <% @sorting_options.each do |sorting_param| %>
                <li>
                  <%= link_with_params(:sorting, sorting_param, @selected_filter) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 sorting-selection">
          &nbsp;Auswahl:
          <div class="btn-group">
            <button type="button" class="btn btn-default">
              <%= link_with_params(:selection, @selected_sorting, @selected_filter) %>
              <% @filter_options.delete(@selected_filter) %>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <% @filter_options.each do |filter| %>
                <li>
                  <%= link_with_params(:selection, @selected_sorting, filter) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if @searched %>
  <h5>Suche nach "<%= @searched_text %>": <strong><%= @searched_plants.length %></strong> Pflanzen gefunden.</h5>
  <% unless @searched_plants.empty? %>
    <% @plants = @searched_plants %>
  <% end %>
<% elsif @plants.empty? %>
  <%= render partial: "../startpage/welcome" %>
<% end %>

<% unless @plants.empty? %>
  <br />
  <div class="table-responsive">
    <table class="table">

      <% @plants.each do |plant| %>
        <%= render partial: "/plants/list_entry",
                   locals: { plant:          plant,
                             other_user:     nil,
                             only_my_plants: true } %>
      <% end %>

    </table>
  </div>
  <%= paginate @plants %>
</br>
<% end %>
