<% content_for :sidebar do %>
  <%= form_tag(plants_path, method: "get") do %>
    <div class="row">
      <div class="col-xs-12">
        <h4>Suche</h4>
        <p><strong>in meiner Pflanzenliste</strong><p>
      </div>
    </div>

    <div class="row search-form">
      <div class="col-xs-12">
        <div class="input-group">
          <%= text_field_tag(:search_name, "", class: "form-control", placeholder: "z.B. Möhre")  %>
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
    <div class="row search-form">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-btn">
            <%= submit_tag("suchen", class: "btn btn-default") %>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
  <% end %>
  <br>
  <h4>Pflanzenstatistik</h4>
  <%= render partial: "statistics", locals: { user: current_user, other_user: false } %>
<% end %>

<% if @searched %>
  <h2>Suchergebnis</h2>
<% else %>
  <h2>Meine Pflanzen</h2>
<% end %>

<% if @searched %>
  <h5>Suche nach "<%= @searched_text %>": <strong><%= @searched_plants.length %></strong> Pflanzen gefunden.</h5>
  <% unless @searched_plants.empty? %>
    <% @plants = @searched_plants %>
<% end %>

<% elsif @plants.empty? %>
  <p>Eigene Pflanzen werden hier aufgelistet, sobald Du entweder
     selbst welche erstellt hast oder Dir von Freunden welche kopiert hast.
  </p>
  <div class="row welcome">
    <div class="col-md-12">
      <%= link_to "Pflanze anlegen", new_plant_path, class: "btn btn-default", role: "button" %>
      <%= image_tag("green_flower_icon.png") %>
      <%= link_to "Pflanze suchen", search_index_path, class: "btn btn-default", role: "button" %>
    </div>
  </div>
<% end %>

<% unless @plants.empty? %>
  <br />
  <table class="table">
    <tr>
      <th></th><%# image %>
      <th></th><%# active/inactive %>
      <th>
        <a href="<%= plants_path(sort_by: "name", order: "asc", only_public: @only_public) %>">
          <%= image_tag "gnome_view_sort_descending.png", width: "35", height: "35" %>Name
        </a>
      </th><%# plant name %>
      <th></th><%# creator %>
      <th>
        <% if @only_public == "1" %>
          <a href="<%= plants_path %>">
            <%= image_tag "filter.png", width: "35px", height: "35px" %>
            alle
          </a>
        <% else %>
          <a href="<%= plants_path(only_public: "1") %>">
            <%= image_tag "filter.png", width: "35px", height: "35px" %>
            öffentliche
          </a>
        <% end %>
      </th>
      <th>
        <a href="<%= plants_path(sort_by: "cached_votes_total", order: "desc", only_public: @only_public) %>">
          <%= image_tag "gnome_view_sort_descending.png", width: "35", height: "35" %>Bewertung
        </a>
      </th><%# votes %>
      <th></th><%# delete plant %>
    </tr>
  <% @plants.each do |plant| %>
    <%= render partial: "/plants/list_entry",
               locals: { plant:          plant,
                         other_user:     nil,
                         only_my_plants: true } %>
  <% end %>
  </table>
<% end %>
