<% content_for :sidebar do %>
  <% unless @other_user.present? %>
  <%# TODO: add search in other_user's plants %>
    <%= form_tag(plants_path, method: "get") do %>
      <div class="row">
        <div class="col-xs-12">
          <h4>Suche</h4>
          <p><strong>in meiner Pflanzenliste</strong><p>
        </div>
      </div>
      <input type="hidden" name="search_only_public" value="0" />
      <input type="hidden" name="search_my_plants" value="1" />

      <div class="row search-form">
        <div class="col-xs-12">
          <div class="input-group">
            <%= text_field_tag(:search_name, "", class: "form-control", placeholder: "z.B. Möhre")  %>
          </div><!-- /input-group -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
      <div class="row search-form">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-btn">
              <%= submit_tag("suchen", class: "btn btn-default") %>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    <% end %>
  <% end %>
<% end %>

<% if @other_user %>
  <h4><%= @other_user.display_name %>'s veröffentlichte Pflanzen</h4>
<% elsif @searched %>
  <h4>Suchergebnis</h4>
<% else %>
  <h4>Meine Pflanzen</h4>
<% end %>

<% if @searched %>
  <h5>Suche nach "<%= @searched_text %>": <strong><%= @searched_plants.length %></strong> Pflanzen gefunden.</h5>
  <% unless @searched_plants.empty? %>
    <% @plants = @searched_plants %>
  <% else %>
    <br>
    <button type="button" class="btn btn-default">
      <%= link_to "neue Suche", plants_search_path %>
    </button>
  <% end %>

<% elsif @plants.empty? %>
  <% if @other_user %>
    <p>Keine veröffentlichten Pflanzen.</p>
  <% else %>
    <p>Eigene Pflanzen werden hier aufgelistet, sobald Du entweder
       selbst welche erstellt hast oder Dir von Freunden welche kopiert hast.
    </p>
  <% end %>
<% end %>

<% unless @plants.empty? %>
  <br />
  <table class="table">
  <% @plants.each do |plant| %>
    <tr>
      <td>
        <% if plant.main_image.file? %>
          <%= link_to image_tag(download_main_image_plant_path(plant, {size: :thumb}), class: "img-rounded img-responsive"), plant %><% end %></td>
      <td><%= link_to plant.name, plant %></td>
      <td>
        <% if plant.creator != current_user && @other_user.nil? %>
          von <%= plant.creator.display_name %>
        <% end %>
      </td>
      <% unless @other_user %>
        <td class="active-button" data-id="<%= plant.id %>" data-path="plants/">
          <% if plant.active %>
          <%# TODO: class: "img-rounded img-responsive" %>
            <%= image_tag "plant_active.gif", height: '42px', width: '30px',  "data-toggle" => "tooltip", "data-placement" => "bottom",
                 title: "Pflanze ist aktiv, d.h. Pflegetips werden in der Aufgabenliste angezeigt. Zum inaktiv schalten, bitte auf das Bild klicken."  %>
          <% else %>
            <%= image_tag "plant_inactive.gif", height: '42px', width: '30px',  "data-toggle" => "tooltip", "data-placement" => "bottom",
                 title: "Pflanze ist inaktiv, d.h. Pflegetips werden in der Aufgabenliste nicht angezeigt. Zum aktiv schalten, bitte auf das Bild klicken."  %>
          <% end %>
        </td>
      <% end %>
      <td>
        <% if (current_user == plant.creator || @other_user.present?) && plant.original.public %>
          <strong><%= plant.original.get_likes.size %></strong>
          <%= image_tag("green_flower_icon.png", height: '20px', width: '20px') %>
        <% end %>
      </td>
      <% unless @other_user %>
        <td>
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          <%= link_to 'Entfernen', plant, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "delete-link" %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>
