<% content_for :sidebar do %>
<% end %>

<%= form_for :plant, url: {action: "create"} do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <h2>Neue Pflanze anlegen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <div class="input-group">
        <span class="input-group-addon">

          <input type="checkbox" aria-label="public" value="true" name="plant[public]" checked="checked">
        </span>
        <span class="input-group-addon">
          öffentlich
        </span>
      </div><!-- /input-group -->
    </div>
    <div class="col-xs-10">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Pflanzenname</span>
          <%= f.text_field :name, :class => "form-control",
             "aria-label" => "Pflanzenname" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <small>Bilder im png oder jpg Format bis zu 2 Megabyte</small>
     </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Bild</span>
        <%= f.file_field :main_image, :class => "form-control",
           "aria-label" => "Bild" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Lateinische Bezeichnung</span>
          <%= f.text_field :subtitle, :class => "form-control",
             "aria-label" => "Lateinische-Bezeichnung" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Beschreibung</span>
          <%= f.text_area :desc, :class => "form-control",
             "aria-label" => "Beschreibung", rows: "12" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Kategorie</span>
        <%= f.select :category,
            options_for_select(Plant.categories.collect { |c| [c[0].humanize.titleize, c[0]] }),
            {},
            { class: 'form-control'} %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">Private Notizen</span>
        <%= f.text_area :private_notes, :class => "form-control",
            "aria-label" => "Private Notizen", rows: "8" %>
      </div>
    </div>
  </div>

  <div class="row form-space">
    <div class="col-xs-12">
      <div class="pull-right">
          <a href="<%= plants_path %>">Abbrechen</a>&nbsp;
          <%= f.submit "Pflanze speichern", :class => "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
<br>
