<%= render partial: "sidebar" %>
<%= render partial: "header" %>

<div class="row">
  <div class="col-xs-12">
    <h5><%= @plant.subtitle %></h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= raw markdown.render(@plant.desc) %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <strong>Kategorie: </strong><%= @plant.category.humanize %></h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <strong>Standort:</strong> <%= @plant.location %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <strong>Boden:</strong> <%= @plant.soil %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <strong>Optimaler Ph-Wert:</strong> <%= @plant.ph %>
  </div>
</div>
<br>
<% unless @plant.tasks.empty? %>
  <div class="row">
    <div class="col-xs-12">
      <h4>Aufgaben</h4>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <%= render @plant.tasks %>
      </div>

    </div>
  </div>
<% end %>

<% if can? :update, @plant %>
  <% if @plant.tasks.empty? %>
    <h4>Neue Aufgabe</h4>
    <%= render partial: "/tasks/form" %>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <%= link_to "Neue Aufgabe", new_plant_task_path(@plant) %>
      </div>
    </div>
  <% end %>
<% end %>
<br>
<br>
