<div id="carousel-comment" class="carousel slide">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-comment" data-slide-to="0" class="active">
    </li>
    <li data-target="#carousel-comment" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-caption">
        <h2>
          Kommentieren und bewerten
        </h2>
        <h4 data-animation="animated bounceInRight">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          Ich kann Pflanzen kommentieren
        </h4>
        <h4 data-animation="animated bounceInRight">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          Der Autor der Pflanze ist Moderator
        </h4>
        <h4 data-animation="animated bounceInRight">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          Ich kann Pflanzen bewerten -
          von mir vergebener grüner Daumen:&nbsp; <%= image_tag "voted_thumb_up.png" %><br>
        </h4>
        <div class="slide-6">
        </div>
        <h4 data-animation="animated bounceInRight">
          <%= image_tag "first_steps/edit_plant_with_circle.png", width: "650px", height: "300px" %>
        </h4>
        <div class="slide-6">
        </div>
      </div>
    </div><!-- /.item -->

    <div class="item">
      <div class="carousel-caption">
        <h2>
          Neue Pflanze anlegen
        </h2>
        <h4 data-animation="animated bounceInRight">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          Ich kann neue Pflanzen erstellen
          <div class="slide-7">
          </div>
        </h4>
        <h4 data-animation="animated bounceInRight">
          <%= image_tag "first_steps/edit_plant_with_circle.png", width: "400px", height: "250px" %>
          <div class="slide-7">
          </div>
        </h4>
        <h4 data-animation="animated bounceInRight">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          Ich kann Mark Down verwenden
          <div class="slide-7">
          </div>
        </h4>
        <h4 data-animation="animated bounceInRight">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          Die Pflanze mit Aufgaben kann privat oder öffentlich sein:
          <%= image_tag "world-globe32x32.png" %> oder
          <%= image_tag "not-world-globe32x32.png" %>
          <div class="slide-7">
          </div>
        </h4>
        <h4 data-animation="animated bounceInRight">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          Nur von mir erstellte Pflanzen können veröffentlicht werden
          <div class="slide-7">
          </div>
        </h4>
        <div class="slide-7">
        </div>
      </div>
    </div><!-- /.item -->

  </div><!-- /.carousel-inner -->

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-comment"
     role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-comment"
     role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div><!-- /.carousel -->
