<div id="carousel-copy-plant" class="carousel slide">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-copy-plant" data-slide-to="0" class="active">
    </li>
    <li data-target="#carousel-copy-plant" data-slide-to="1"></li>
    <li data-target="#carousel-copy-plant" data-slide-to="2"></li>
    <li data-target="#carousel-copy-plant" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="carousel-caption">
        <h2 data-animation="animated bounceInLeft">
          Erster Schritt
        </h2>
        <h4 data-animation="animated bounceInRight">
          Pflanze suchen<br>

          <%= image_tag "first_steps/plant_search.png", "data-animation" => "animated bounceInRight", class: "carousel-image" %>
        </h4>
        <div class="copy-plant-valign-0"></div>
      </div>
    </div><!-- /.item -->

    <div class="item">
      <div class="carousel-caption">
        <h2>
          Zweiter Schritt
        </h2>
        <h4 data-animation="animated bounceInRight">
          Gefundene Pflanze kopieren<br>
          <%= image_tag "first_steps/copy_plant.png", id: "copy-plant-image", "data-animation" => "animated bounceInRight", class: "carousel-image"  %>
        </h4>
        <div class="copy-plant-valign-1"></div>
      </div>
    </div><!-- /.item -->

    <div class="item">
      <div class="carousel-caption">
        <h2>
          Die kopierte Pflanze
        </h2>
        <h4 data-animation="animated bounceInRight">
          ... ist privat und<br>
        </h4>
        <h4 data-animation="animated bounceInRight">
          <br>
          ich kann die Kopie für meinen privaten Gebrauch ändern.<br>
          <%= image_tag "first_steps/edit_plant.png", class: "carousel-image" %>
        <div class="copy-plant-valign-2"></div>
        </h4>
      </div>
    </div><!-- /.item -->

    <div class="item">
      <div class="carousel-caption">
        <div class="row">
          <div class="col-xs-6">
            <h4 data-animation="animated bounceInLeft">
              Jetzt starten?<br>
              <%= link_to "Pflanze suchen", search_index_path() %><br>
              <%= link_to(image_tag("lupe.png", width: "80px", height: "80px"), search_index_path()) %>
            </h4>
          </div>
          <div class="col-xs-6">
            <h4 data-animation="animated bounceInLeft">
              ...oder
              <br>
              <%= link_to "zum nächsten Tutorial", startpage_first_steps_path(topic: "tasks") %>
            </h4>
          </div>
        </div>
        <h4 data-animation="animated bounceInLeft">
          Alle Tutorials finde ich in der linken oberen Ecke<br>
          <%= image_tag "first_steps/first_steps_menu.png", class: "carousel-image"  %>
        </h4>
        <div class="copy-plant-valign-3"></div>
      </div>
    </div><!-- /.item -->

  </div><!-- /.carousel-inner -->

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-copy-plant"
     role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-copy-plant"
     role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div><!-- /.carousel -->
