<div id="tasks" class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 huge-title">
          Erste Schritte
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 first-steps-desc">
        <%= image_tag "first_steps/grey_circle_tasks.png", class: "img-responsive" %>
      </div>
    </div>
  </div>

  <div class="col-md-9 first-steps-desc">
    <h4>Aufgaben = Pflegeanweisungen</h4>
    Beim Kopieren einer Pflanze werden auch die zugehörigen Pflegeanweisungen kopiert.
    Du kannst neue hinzufügen:
    <br>
    <%= image_tag "first_steps/new_task.jpg", class: "img-rounded img-responsive carousel-image"  %>
    <br>
    oder vorhandene Aufgaben bearbeiten oder löschen:
    <br>
    <%# TODO: image einer kopierten Pflanze verwenden und tab einkreisen %>
    <%= image_tag "first_steps/edit_task.png", class: "img-rounded img-responsive carousel-image"  %>
    <br>
    Ist Deine Pflanze privat, so sind es auch die zugehörigen Aufgaben.
    <br><br>
    Du möchtest eine Übersicht über die anstehenden Aufgaben aller Deiner Pflanzen sehen?
    <br>
    <%= image_tag "first_steps/tasks_overview.png", class: "img-rounded img-responsive carousel-image" %>
    <br>
    <h4>
      Was wird aufgelistet?
    </h4>
    <ul>
      <li class="first-steps-tasks-overview">nur Deine eigenen Aufgaben</li>
      <li class="first-steps-tasks-overview">nur aktuelle Aufgaben</li>
      <li class="first-steps-tasks-overview">nur noch nicht erledigte Aufgaben</li>
      <li class="first-steps-tasks-overview">nur Aufgaben von "aktiven" Pflanzen:&nbsp;
      aktiv
        <button type="button" class="btn btn-default disabled">
          <%= image_tag "plant_active.gif", height: '35px', width: '24px' %>
        </button>
        &nbsp; oder inaktiv
        <button type="button" class="btn btn-default disabled">
          <%= image_tag "plant_inactive.gif", height: '35px', width: '24px' %>
        </button>
      </li>
      <li class="first-steps-tasks-overview">nur sichtbar geschaltete Aufgaben:&nbsp;
          sichtbar
        <button type="button" class="btn btn-default eye-button disabled">
          <%= image_tag "eye_visible.jpg" %>
        </button> &nbsp; oder unsichtbar
        <button type="button" class="btn btn-default eye-button disabled">
          <%= image_tag "eye_not_visible.jpg" %>
        </button>
      </li>
    </ul>
    <h4>Jetzt zur
      <%= link_to "Aufgabenliste", startpage_index_path() %>?&nbsp;
      <%= link_to(image_tag("first_steps/todo.png", height: "60px", width: "60px", class: "carousel-image"), startpage_index_path()) %>
    </h4>
  </div>
</div>
