<tr>
  <td id="task_title"><%= link_to done_task.task.title, plant_task_path(done_task.task.plant, done_task.task) %></td>
  <td><%= done_task.notice %>
  <td><%= I18n.l done_task.date.to_date %></td>
  <td><% if done_task.skipped? %>übersprungen<% else %>erledigt<% end %></td>
  <td>
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
    <%= link_to link_label(done_task.skipped?),
                plant_task_done_task_path(done_task.task.plant, done_task.task, done_task),
                method: :delete,
                class: "delete-link" %>
  </td>

  <td>
    <%= done_task_modal(done_task.task, done_task) %>
    <button type="button" class="btn btn-default"
            data-toggle="modal"
            data-target="#taskDoneModal<%= done_task.task.id %>">
      ändern
    </button>
      </td>
</tr>

