<tr>
  <td id="task_title">
    <% if done_task.task && done_task.task.title %>
      <% if done_task.task.deleted? %>
        <%= done_task.task.title %>
      <% else %>
        <%= link_to done_task.task.title, plant_task_path(done_task.plant, done_task.task) %>
      <% end %>
    <% end %>
  </td>
  <td><%= done_task.notice %>
  <td><%= I18n.l done_task.date.to_date %></td>
  <td class="hidden-xs"><% if done_task.skipped == "ueberspringen" %>übersprungen<% elsif done_task.skipped == "erledigt" %>erledigt<% end %>
  </td>
  <td>
    <% skipped = done_task.skipped? ? :ueberspringen : :erledigt %>
    <%= form_for done_task, method: :patch,
            url: plant_done_task_path(done_task.plant, done_task) do |f| %>
      <%= render partial: "done_tasks/modal",
                   locals: { plant:     done_task.plant,
                             task:      done_task.task,
                             modal_id:  done_task.id,
                             done_task: done_task,
                             f:         f,
                             skipped:   skipped } %>
    <% end %>

    <button type="button" class="btn btn-default"
            data-toggle="modal"
            data-target="#taskDoneModal<%= done_task.id %>">
      <%= image_tag "edit_icon.jpg", width: "20px", height: "20px" %>
    </button>
  </td>
  <td>
    <%= link_to (image_tag "red_cross.jpg", width: "20px", height: "20px"),
                plant_done_task_path(done_task.plant, done_task),
                method: :delete,
                class: "btn btn-default" %>
  </td>
</tr>

