<%= render partial: "plants/sidebar" %>
<%= render partial: "plants/header" %>

<div class="row">
  <div class="col-xs-12 edit-plant-link">
  </div>
</div>

<% if @done_tasks.empty? %>
  ...noch keine erledigten Aufgaben.
<% end %>

<% options = @plant.tasks.collect { |t| [t.title.humanize.titleize, t.id] }
   options.unshift(["Keine", nil]) %>
<%= form_for :done_task, url: plant_done_tasks_path(@plant) do |f| %>
<table class="table">
  <tr>
    <th>Aufgabe</th>
    <th>Notiz</th>
    <th>Datum</th>
    <th></th>
    <th></th>
  </tr>

<tr>
  <td id="task_title">
    <% if @plant && !@plant.tasks.empty? %>
      <%= f.select :task_id,
          options_for_select(options),
          {},
          { class: 'form-control'} %>
    <% end %>
  </td>
  <td>
    <%= f.text_field :notice, :class => "form-control" %>
  </td>
  <td>
    <%= I18n.l Date.today %>
  </td>
  <td>
    <%= f.select :skipped,
        options_for_select([[ "...", nil   ],
                            [ "überspringen", true  ],
                            [ "erledigt", false ]]),
        {},
        { class: 'form-control'} %>
  </td>
  <td>
    <%= f.submit "neu", class: "btn btn-default" %>
  </td>
</tr>

<% @done_tasks.each do |done_task| %>
  <%= render done_task %>
<% end %>

</table>
<% end %>
