<!DOCTYPE html>
<html>
<head>
  <title>Socialgardener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "alert alert-#{name}" %>
<% end -%>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-2 logo">
      <a href="<%= root_url %>" class="logo">
      <img src="<%= image_url("logo.png") %>"><br />
      <b>Intelligenter Gartenkalender</b></a>
    </div>
    <div class="col-xs-7 head">
    </div>
    <div class="col-xs-3 logged-in-status">
      <% if current_user %>
        <%= current_user.username %>
        <% if current_user.admin? %> (Administrator)<% end %>
        <%= link_to "Ausloggen", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Einloggen', new_user_session_path %>
        oder
        <%= link_to 'Registrieren', new_user_registration_path %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div id="content" class="col-xs-7">
       <%= display_tabs %>
       <%= yield %>
    </div>
    <div id="sidebar" class="col-xs-3">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</div>
</body>
</html>
