<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Mein Garten' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Elisabeth Hundt">
  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>

  <div id="main-container" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= render 'shared/header' %>
      </div>
      <div class="hidden-xs col-md-6 logged-in-status">
        <%= render 'shared/logged_in_status' %>
      </div>
    </div>
    <div class="row head-bg">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <%= image_tag("title.png", class: "head img-responsive") %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/top_navigation' %>
      </div>
    </div>

    <div class="row">
      <div id="sidebar" class="col-sm-3">
        <%=  yield :sidebar %>
      </div>
      <div id="content" class="col-sm-8 content-container">
         <% flash.each do |name, msg| -%>
           <%= content_tag :div, msg, class: "alert alert-#{name}" %>
         <% end -%>

         <%= yield %>
      </div>
      <div class="hidden-xs col-sm-1">
        <%= render partial: 'shared/iconbar' %>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <%= render 'shared/footer' %>
  </nav>

</body>
</html>
