<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Persönlicher Gartenkalender' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <%= render 'shared/first_steps_menu' %>
    </div>
    <div class="col-xs-6 logged-in-status">
      <%= render 'shared/logged_in_status' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 head-bg">
    </div>
    <div class="col-xs-9 head-bg">
      <%= image_tag("title.png", class: "img-responsive head") %>
    </div>
  </div>
  <div class="row">
    <% if current_user.present? &&
          (( !current_user.first_steps_seen &&
            current_page?(controller: 'startpage', action: 'index')) ||
            current_page?(controller: 'startpage', action: 'first_steps')) %>
      <div id="sidebar" class="col-xs-3">
        <%= render "shared/search_form" %>
      </div>
      <div id="content" class="col-xs-8 content-container">
         <%= display_tabs %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
         <%= yield %>
      </div>

    <% else %>
      <div id="sidebar" class="col-xs-3">
        <%= render "shared/search_form" %>
        <%#= render 'seasons/current_season' %>
        <%=  yield :sidebar %>
      </div>
      <div id="content" class="col-xs-8 content-container">
         <%= display_tabs %>
         <br />

         <% flash.each do |name, msg| -%>
           <%= content_tag :div, msg, class: "alert alert-#{name}" %>
         <% end -%>

         <%= yield %>
      </div>
      <div class="col-xs-1">
        <%= render partial: 'shared/iconbar' %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 footer">
      <%= render 'shared/footer' %>
    </div>
  </div>
</div>
</body>
</html>
