<!DOCTYPE html>
<html>
<head>
  <title>Intelligenter Gartenkalender</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9 logged-in-status">
      <%= render 'shared/logged_in_status' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 logo">
      <a href="<%= root_url %>" class="logo">
      <img src="<%= image_url("logo.png") %>"><br />
      <b>Intelligenter Gartenkalender</b></a>
    </div>
    <div class="col-xs-9 head">
    </div>
  </div>
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <%=  yield :sidebar %>
    </div>
    <div id="content" class="col-xs-9">
       <%= display_tabs %>
       <br />

       <% flash.each do |name, msg| -%>
         <%= content_tag :div, msg, class: "alert alert-#{name}" %>
       <% end -%>

       <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
